<div
  class="note-input-collapsed"
  *ngIf="!isExpanded"
  (click)="expandNoteInput()"
>
  <span class="placeholder">Take a note...</span>
  <div class="icons">
    <mat-icon fontSet="material-symbols-outlined">check_box</mat-icon>
    <mat-icon fontSet="material-symbols-outlined">brush</mat-icon>
    <mat-icon fontSet="material-symbols-outlined">image</mat-icon>
  </div>
</div>

<div
  class="note-input-expanded"
  *ngIf="isExpanded"
  [ngStyle]="{ 'background-color': selectedColor || '#ffffff' }"
>
  <form [formGroup]="noteForm">
    <input
      type="text"
      placeholder="Title"
      formControlName="title"
      class="title-input"
    />

    <textarea
      placeholder="Take a note..."
      formControlName="description"
      class="description-input"
      [ngStyle]="{ 'font-family': 'Roboto' }"
    ></textarea>

    <div class="expanded-icons">
      <app-icon-list
        context="input"
        (colorSelected)="onColorChange($event)"
      ></app-icon-list>

      <span class="spacer"></span>

      <button type="button" class="close-button" (click)="closeNoteInput()">
        Close
      </button>
    </div>
  </form>
</div>
