<div [ngClass]="viewMode === 'grid' ? 'grid-container' : 'list-container'">
  <div
    class="note-card"
    *ngFor="let note of notes; let i = index"
    [ngStyle]="{ 'background-color': note.color || '#ffffff' }"
    [ngClass]="viewMode"
    (mouseenter)="hoveredIndex = i"
    (mouseleave)="hoveredIndex = null"
  >
    <mat-icon
      *ngIf="!isTrashContext && hoveredIndex === i"
      class="pin-icon"
      fontSet="material-symbols-outlined"
      (click)="togglePin(note); $event.stopPropagation()"
    >
      {{ note.isPined ? "push_pin" : "push_pin" }}
    </mat-icon>
    <div class="note-header" (click)="openEditDialog(note)">
      <h3 class="note-title">{{ note.title }}</h3>
    </div>

    <p class="note-description" (click)="openEditDialog(note)">
      {{ note.description }}
    </p>

    <div class="note-footer" [class.visible]="hoveredIndex === i">
      <app-icon-list
        [context]="isTrashContext ? 'trash' : 'card'"
        [noteID]="note.id"
        [isArchivedView]="isArchiveContext"
        (archived)="onNoteArchived(note.id)"
        (trashed)="onNoteTrashed(note.id)"
        (colorChanged)="onNoteColorChanged(note.id, $event)"
        (deletedForever)="onNoteDeletedForever(note.id)"
        (restored)="onNoteRestored(note.id)"
        (reminderSet)="onReminderSet()"
      ></app-icon-list>
    </div>
  </div>
</div>
