.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.login-card {
  padding: 32px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.full-width {
  width: 100%;
  margin-bottom: 16px;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.link {
  font-size: 0.9rem;
  text-decoration: none;
  color: #1a73e8;
  cursor: pointer;
}
.google-logo {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.login-title {
  margin: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.login-subtitle {
  margin: 0 0 16px;
  font-size: 14px;
  color: #5f6368;
  text-align: center;
}

.login-card p {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #000000;
}
.login-card h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

.forgot-password {
  text-align: left;
  margin: auto 0 35px;
}

.forgot-password a {
  font-size: 0.85rem;
  color: #1a73e8;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
