<div class="icon-list">
  <mat-icon fontSet="material-symbols-outlined">format_color_text</mat-icon>
  <mat-icon fontSet="material-symbols-outlined">palette</mat-icon>
  <mat-icon fontSet="material-symbols-outlined">add_alert</mat-icon>
  <mat-icon fontSet="material-symbols-outlined">person_add</mat-icon>
  <mat-icon fontSet="material-symbols-outlined">image</mat-icon>
  <mat-icon fontSet="material-symbols-outlined">archive</mat-icon>
  <mat-icon fontSet="material-symbols-outlined">more_vert</mat-icon>
  <mat-icon fontSet="material-symbols-outlined inactive-icon">undo</mat-icon>
  <mat-icon fontSet="material-symbols-outlined inactive-icon">redo</mat-icon>
</div>
