<mat-nav-list class="sidenav-list">
  <div
    class="nav-item"
    [ngClass]="{ selected: selected === 'notes' }"
    (click)="select('notes')"
  >
    <mat-icon>lightbulb_outline</mat-icon>

    <span>Notes</span>
  </div>

  <div
    class="nav-item"
    [ngClass]="{ selected: selected === 'reminders' }"
    (click)="select('reminders')"
  >
    <mat-icon fontSet="material-symbols-outlined" fontIcon="notifications"
      >notifications</mat-icon
    >
    <span>Reminders</span>
  </div>

  <div
    class="nav-item"
    [ngClass]="{ selected: selected === 'labels' }"
    (click)="select('labels')"
  >
    <mat-icon fontSet="material-symbols-outlined" fontIcon="edit"
      >edit</mat-icon
    >
    <span>Edit labels</span>
  </div>

  <div
    class="nav-item"
    [ngClass]="{ selected: selected === 'archive' }"
    (click)="select('archive')"
  >
    <mat-icon fontSet="material-symbols-outlined" fontIcon="archive"
      >archive</mat-icon
    >
    <span>Archive</span>
  </div>

  <div
    class="nav-item"
    [ngClass]="{ selected: selected === 'trash' }"
    (click)="select('trash')"
  >
    <mat-icon fontSet="material-symbols-outlined" fontIcon="delete"
      >delete</mat-icon
    >
    <span>Trash</span>
  </div>
</mat-nav-list>
