<div
  class="edit-dialog"
  [ngStyle]="{ 'background-color': selectedColor || '#ffffff' }"
>
  <form [formGroup]="noteForm">
    <input
      type="text"
      formControlName="title"
      class="title-input"
      placeholder="Title"
    />

    <textarea
      formControlName="description"
      class="description-input"
      placeholder="Take a note..."
    ></textarea>

    <div class="expanded-icons">
      <app-icon-list
        context="input"
        (colorSelected)="onColorChange($event)"
      ></app-icon-list>

      <span class="spacer"></span>

      <button type="button" class="close-button" (click)="save()">Close</button>
    </div>
  </form>
</div>
