/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-sidenav-content {
  background-color: white !important;
}

::ng-deep .mat-dialog-container {
  overflow: visible !important;
  padding: 0 !important;
  background: transparent !important;
  border-radius: 0 !important;
  /** Add this line: */
  display: contents !important; /* Allows dropdowns to render outside bounds */
}

.custom-dialog-container {
  overflow: visible !important;
  position: relative !important;
}
